body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: rgb(25, 25, 26);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background: #e3e3e3;
    padding: 10px;
    margin-bottom: 20px;
}

nav h2 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 5px;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 0 20px;
}

pre {
    background: #eee;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', monospace;
    color: #0d02ad;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #275c5e;
}

.button-container {
    display: flex;
    flex-grow: 1; /* Take up all available space */
    align-items: center;
    justify-content: center;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Half the width of the container */
    height: 100%; /* Full height of the container */
    padding: 30px;
    margin: 0;
    font-size: 24px; /* Larger font size */
    text-align: center;
    text-decoration: none;
    border-radius: 0; /* No border radius */
    color: #333333
}

/* CUDA Guide Button */
.cuda-button {
    background-color: #76b900; /* CUDA green */
}

/* Pthreads Guide Button */
.pthreads-button {
    background-color: #007bff; /* Pthreads blue */
}

.button:hover {
    opacity: 0.8;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #275c5e;
}
